<html>
   <link rel="stylesheet" type= "text/css" href="css/style.css">
  <head>
    <title>Advice</title>
  </head>
  <body style= "background-color: #f7e7f2">
  <div align = "center" style = "font-family:rockwell">
      <h1>Mission Happy: ADVICE</h1>
    </body>
    </html>
  <img class = cheerup src = "https://poetsandquantsforundergrads.com/wp-content/uploads/2017/06/Advice.jpg" height = "350px" >
  
   <h2>Friendship  Troubles</h2>
      <p>If you are sad, come here to get some advice about your situation, and try to solve it.
<br>
<br>
Don’t talk to other friends about the issues
<br>
<br>
Get advice from an adult you trust
<br>
<br>
Be the first to talk, talk about yourself and what you did wrong. 
<br>
<br>
Do not pin blame on the other person or say anything threatening to them.
<br>       
<br>
Be respectful and don’t pester your friend- talk when they are ready.
 <br>
 <br>
Other Common Problems (Advice from the Huffington Post):
 <br>
 <br>
 PROBLEM 1
<br>
<br>
Your friend is too busy to make plans, breaks plans, and can’t be counted upon.
<br>
<br>
THE FIX
<br>
<br>
Make sure she’s aware of what she’s doing; let her know she’s disappointed you and ask her to be more reliable. If the problem persists, you may need to dilute the friendship by seeing her less frequently and/or spending time with more reliable friends.
<br>
<br>
PROBLEM 2
<br>
<br>
You can’t stand your friend’s boyfriend or spouse.
<br>
<br>
THE FIX
<br>
<br>
It’s her partner, not yours — and you don’t have to like him. What attracts two people can be hard to quantify or understand. If you don’t like her choice, try to carve out ways to spend time together with her, without him. You can say how you feel but don’t try to talk her out of the way she feels. Of course, if you think her choice of partner is self-destructive, let her know that and try to be there for her.
<br>
<br>
PROBLEM 3
<br>
<br>
You and your friend were attached at the hip and now have nothing to say to each other.
<br>
<br>
THE FIX
<br>
<br>
Your lives may have become so divergent that the friendship isn’t what it once was. Friendships have their ups and downs, and few of them last forever. See if you can figure out what’s wrong by talking about it. If it’s a matter of you, her, or both of you having changed, try to maintain a more distant connection without cutting off the friendship entirely.
<br>
<br>
PROBLEM 4
<br>
<br>
You feel like you and your child are being excluded by a group of mothers.
<br>
<br>
THE FIX
<br>
<br>
Ouch! The only thing more painful than feeling left out is feeling like your child is left out. See if you can talk to one or more of the parents to see if you can maintain a relationship with her (or them) apart from the group. It might also be wise to try to meet new moms and kids.
<br>
<br>
PROBLEM 5
<br>
<br>
Your colleague, with whom you are close friends, is taking advantage of your friendship by slacking off on her work. You were recently promoted and made her supervisor.
<br>
<br>
THE FIX
<br>
<br>
It’s unfortunate that she’s done this. To preserve the friendship and maintain productivity at work, you need to speak to her and clearly define your expectations of her performance in the workplace.
<br>
<br>
PROBLEM 6
<br>
<br>
You have introduced your best friend to another friend of yours and the two of them no longer include you in their plans.
<br>
<br>
THE FIX
<br>
<br>
Although this feels rotten, friend poaching happens more often than you might think. Perhaps, the two of them just hit it off. You can see if you can maintain a relationship with one or the other of the two but, unfortunately, if you can’t, you may need to find a new best friend.
<br>
<br>
PROBLEM 7
<br>
<br>
Your friend has dumped you without an explanation and you need “closure.”
<br>
<br>
THE FIX
<br>
<br>
After a friendship has gone south, it’s nice when two people have a common understanding of what happened and why — but this isn’t always possible. Often, friends don’t give us that opportunity. You can let the dust settle and try to talk to her again but you may need to achieve closure on your own by letting go and moving on.
<br>
<br>
<br>
<br>
What are some other common problems you’ve observed or experienced that could be added to the list? 
<br>
<br>
<br>
<br>
 </p>
  <h2>Relationship  Troubles</h2>
  <p> Relationships don’t look like they used to (and that's a good thing). But what does it honestly take to make a modern romance work? As part of Committed, we're exploring partnerships ranging from a textbook marriage between high-school sweethearts to a gay couple creating a life together in the conservative deep South.
<br>
<br>
If binge-watching Gilmore Girls, Scandal, or The Good Wife has taught us anything, it's that relationships are messy. Personal experience proves it too: From our eighth-grade romance to our most recent breakup drama, "love isn't easy" is a life lesson we know all too well.
<br>
<br>
No matter your status—single, dating, engaged, or married—relationships take work. And whether they end with tears and empty Ben & Jerry's or last until forever may depend upon countless factors, but your own actions, words, and thoughts undoubtedly play a role.
<br>
<br>
One thing that'll give you an advantage in the game of love? Soaking up all the wisdom you can from relationship therapists, researchers, matchmakers, and more. Here, we've distilled it down to the very best advice 15 experts have learned. Regardless of your personal situation, their words may help you uncover the key to long-lasting happiness. Advice from greatist.com.
<br>
<br>
<br>
1. Do or say something daily to show your appreciation it doesn't have to be big.
<br>
<br>
<br>
 "Saying and doing small, simple expressions of gratitude every day yields big rewards. When people feel recognized as special and appreciated, they're happier in that relationship and more motivated to make the relationship better and stronger. And when I say simple, I really mean it. Make small gestures that show you're paying attention: Hug, kiss, hold hands, buy a small gift, send a card, fix a favorite dessert, put gas in the car, or tell your partner, 'You're the best dad,' or simply say 'Thank you for being so wonderful.'"
<br>
— Terri Orbuch, Ph.D., professor at Oakland University and author of 5 Simple Steps to Take Your Marriage from Good to Great
<br>
<br>
<br>
2. Realize every relationship has a lot value, regardless of how long it lasts.
<br>
<br>
<br>
 "There’s no such thing as a failed romance. Relationships simply evolve into what they were always meant to be. It’s best not to try to make something that is meant to be seasonal or temporary into a lifelong relationship. Let go and enjoy the journey."
<br>
<br>
— April Beyer, matchmaker and dating and relationship expert
<br>
<br>
<br>
3. Never EVER take your partner for granted.
<br>
<br>
"This may sound obvious, but you can't imagine how many people come to couples therapy too late, when their partner is done with a relationship and wants to end it. It is very important to realize that everyone potentially has a breaking point, and if their needs are not met or they don't feel seen by the other, they will more than likely find it somewhere else. Many people assume that just because they are OK without things they want so is their partner. 'No relationship is perfect' shouldn't be used as a rationalization for complacency."
<br>
<br>
— Irina Firstein, LCSW, individual and couples therapist
<br>
<br>
<br>
 For more answers for your relationship question please go to https://www.psychologytoday.com/us/blog/fixing-families/201704/the-most-common-relationship-problem
<br>
<br>
<br>
For information on the "7 stages of Grief" go to: https://psychologenie.com/7-stages-of-grief
 <br>
 <br>
 <br>
To talk to someone about depression please call 1-800-662-HELP (4357)
<br>
<br>
For the suicide prevention hotline please call 1-800-273-TALK (8255)
<br>
<br>
For the youth crisis hotline please call 1-800-448-4663
  </p>
<h2>
  <p> Submit any additional advice you have below! </p>
  </h2>
 <!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1530114307215");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

<button type="button"><a href="cheer_up">Cheering Up</a></button>
   <button type="button"><a href="kids_page">Cheering Up for Kids</a></button>
   <button type="button"><a href="advice">Advice</a></button>
    <button type="button"><a href="index">Home</a></button>