
<html>
    <link rel="stylesheet" type= "text/css" href="css/style.css">
      <link rel="stylesheet" href=css/"style.css">
  <head>
    <title>Cheer Up</title>
  </head>
  <body style= "background-color: #E7F7F4">
     <div align = "center" style = "font-family:rockwell">
      <h1>Mission Happy: CHEER UP</h1>
  <img src= http://memesbams.com/wp-content/uploads/2017/12/Cheer-Up-Quotes4.jpg height= "350px">
     <div align = "center">
       <h3> If you are just feeling sad and you don’t know why, come here and we will cheer you up! </h3>
       <br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/x0uXVy4fzUA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
       <p>  Funny Vine Compilation
       <br>
         <br>
         <img src= "https://media.giphy.com/media/1Qdq4iSfoag80/giphy.gif">
          <br>
       <p> Hedgehog in a Bath </p>
       <br>
       <h3> Inspirational Quotes to Cheer you up </h3>
    
       <p>“When it rains, it pours… but soon, the sun shines again. Better days are ahead.” 
<br>
         <br>
“It doesn’t matter who hurt you, or broke you down; what matters is who Ade you smile again.”
<br>
         <br>
“No one is in control of your happiness but you; Therefore, you have the power to change anything about yourself and your life.”
<br>
         <br>
“Be Patient- when it seems things are not going right and may never be right again, Accept that what is yours will come to you in the right way at just the right moment." 
<button type="button"><a href="cheer_up">Cheering Up</a></button>
   <button type="button"><a href="kids_page">Cheering Up for Kids</a></button>
   <button type="button"><a href="advice">Advice</a></button>
    <button type="button"><a href="index">Home</a></button>
       </html>