<html>
  <link rel="stylesheet" type= "text/css" href="css/style.css">
  <center>
  <head>
    <title>Polaroid Photo Gallery</title>
    <h1 div align = "center" style = "font-family:rockwell"> Mission Happy: KIDS PAGE </h1>
    <p align= center> Kids! Come on over if you are feeling blue, and hoping we can make you feel better! </p>
    <br>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div class="gallery">
      <figure>
        <img src= "http://www.allbigdogbreeds.com/wp-content/gallery/siberian-husky-puppies/Siberian-Husky-puppy-4.jpg">
        <figcaption>Cute Husky</figcaption>
      </figure>
      <figure>
        <img src="https://cdn2.list25.com/wp-content/uploads/2013/08/Pomeranianpuppy2-610x412.jpg">
        <figcaption>
          Fluffy Pomeranian</figcaption>
      </figure>
      <figure>
        <img src="http://25.media.tumblr.com/c83b42d6f24ad19f7488762e499b74d6/tumblr_muxsr3RiDa1stlkgho1_500.jpg">
        <figcaption>Who, me?</figcaption>
      </figure>
      <figure>
        <img src="http://2.bp.blogspot.com/-qgZvLTeNf8I/T7ELdoBW-DI/AAAAAAAAAnY/CTD7slPkW8Y/s1600/cute_puppies_18.jpg">
        <figcaption>The Burrito Doggo</figcaption>
      </figure>
      <figure>
        <img src="https://www.cheatsheet.com/wp-content/uploads/2017/10/chow-chow-puppy.jpg">
        <figcaption>Little Fluffy Doggie</figcaption>
      </figure>
      <figure>
        <img src="http://i.dailymail.co.uk/i/pix/2017/03/02/14/3DE01F3200000578-4275242-image-a-3_1488464352860.jpg">
        <figcaption>The "Guard Dogs"</figcaption>
      </figure>
      <figure>
        <img src="https://i.ytimg.com/vi/TyT4XIwT6lg/maxresdefault.jpg">
        <figcaption>Picnic Puppies</figcaption>
      </figure>
      <figure>
        <img src="https://i0.wp.com/meowlogy.com/wp-content/uploads/2017/08/Cute-puppies-21.jpg?ssl=1&w=308&h=308&crop=1">
        <figcaption>Model Dogs</figcaption>
      </figure>
    </div>
    <br>
    <p align=center> Cute Puppy Gallery </p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B3FzW5vQUm4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>
    <h2> Advice for Parents</h2>
    <h3>Kids 6 and under</h3>
Try to distract your child by playing a game
    <br>
Try not to distract them with technology
<br>
    Respect your child, but stay disciplinary. Do not let them do bad things 
    <h3>Kids 7 and above </h3>
Try talking to them to see how they are feeling
    <br>
If you identify a problem, try to solve it in a way that makes your child comfortable
    <br>
    Remember that they are vulnerable, and treat them with respect
    <br><br>
  </body>
  </center>
<button type="button"><a href="cheer_up">Cheering Up</a></button>
   <button type="button"><a href="kids_page">Cheering Up for Kids</a></button>
   <button type="button"><a href="advice">Advice</a></button>
   <button type="button"><a href="index">Home</a></button>
</html>